{:paths ["src"]
 :deps
 {integrant/integrant          {:mvn/version "0.8.0"}
  aero/aero                    {:mvn/version "1.1.6"}
  metosin/reitit               {:mvn/version "0.5.16"}
  ring/ring-jetty-adapter      {:mvn/version "1.9.5"}
  com.fzakaria/slf4j-timbre    {:mvn/version "0.3.21"}
  camel-snake-kebab/camel-snake-kebab {:mvn/version "0.4.2"}}
 :aliases
 {:env/dev {:extra-paths ["dev"]
            :extra-deps {integrant/repl  {:mvn/version "0.3.2"}
                         io.aviso/pretty {:mvn/version "1.1.1"}}}}}
