{:com.hello.user.api/routes
 nil

 :com.hello.server/router
 {:database #ig/ref :com.hello.adapters.database/database
  :routes
  [[""
    #ig/ref :com.hello.user.api/routes]]}

 :com.hello.server/server
 {:router #ig/ref :com.hello.server/router
  :server-opts {:port 3030
                :join? false
                :async true}}

 :com.hello.adapters.database/database
 {:db-spec {:jdbcUrl "jdbc:sqlite::memory:"}
  :migrations {:store                :database
               :migration-dir        "migrations/"
               :init-in-transaction? false ;defaults to true, some databases do not support
                                        ;schema initialization in a transaction
               :migration-table-name "migrations"}
  :fixtures #profile {:default []
                      :dev #include "dev_fixtures.edn"}}}
