{:user.api/routes
 nil

 :server/router
 {:database #ig/ref :adapters.database/database
  :routes
  [[""
    #ig/ref :user.api/routes]]}

 :server/server
 {:router #ig/ref :server/router}

 :adapters.database/database
 {:db-spec {:jdbcUrl "jdbc:sqlite::memory:"}
  :schema-resource "adapters/schema.sql"

  :fixtures #profile {:default []
                      :dev #include "dev_fixtures.edn"}}}
